<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.depressiontherapygame">


    <uses-permission android:name="android.permission.INTERNET" /> <!-- Read Phone State Permission -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- Access Network State Permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".Users.GameTetris.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Users.GameTetris.ActivityTetrisGame.LeaderboardActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeGame"/>
        <activity
            android:name=".Users.FirstTimeDep.FirstScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.FirstTimeDep.FirstQuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.FirstTimeDep.FirstSetsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.FirstUserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.FirstTimeDep.FirstCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.FirstTimeDep.FirstMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.History.HistoryDepActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.History.HistoryLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.Consult.PostDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.Consult.ThereProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.Consult.AddPostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.Consult.DashboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.Update.UpdateEmailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.QuizDepression.SetsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.QuizDepression.CategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.QuizDepression.ScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.QuizDepression.QuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.QuizDepression.QuizMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.GameTetris.ActivityTetrisGame.SettingActivityGame"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeGame" />
        <activity
            android:name=".Users.GameTetris.ActivityTetrisGame.MainActivityGame"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeGame" />
        <activity
            android:name=".Users.GameTetris.ActivityTetrisGame.GameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeGame" />
        <activity
            android:name=".Users.GameTetris.ActivityTetrisGame.LevelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeGame" />
        <activity
            android:name=".Users.Update.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.Update.DeleteProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.LoginRegister.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.Setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.LoginRegister.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.LoginRegister.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Users.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Users.GameTetris.services.MusicPlayerService"
            android:enabled="true"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".Users.GameTetris.services.MusicIntentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_mob_id" />

    </application>



</manifest>